__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
.env

dist/
build/
*.spec

.idea/
.vscode/
*.swp

*.log
Logs/
.Logs/
.cache/
Temporary/
.Temporary/
.cache/
cache/
Update/
.Update/
config/
.config/

